@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

:root {
  --color-primary-white: #ffffff;
  --color-primary-blue: #2b7fff;
  --color-primary-dblue: #011c44;
  --color-secondary-gr1: #4a4a4a;
  --color-secondary-gr2: #747272;
  --color-secondary-lblue: #011f4a;
  --color-secondary-yelow: #ffd02b;
}

body {
  color: var(--color-primary-dblue);
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 p {
  margin-top: 0;
}

ul {
  list-style-type: none;
  margin-top: 0px;
}

a {
  display: inline-block;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Body */
.container-site {
  text-align: justify;
  max-width: 1440px;
  margin: -10px;
}

/* Header */

.head1 {
  background-image: linear-gradient(
      89deg,
      #fff 30.62%,
      rgba(255, 255, 255, 0.85) 41.31%,
      rgba(255, 255, 255, 0.19) 58.65%,
      rgba(255, 255, 255, 0) 72.78%
    ),
    url(../images/mainfon.png);
  background-repeat: no-repeat;
  background-size: 1200px 600px;
  background-position: top right;

  /* background-attachment: fixed; */
}

.head-container {
  display: flex;
  background-size: cover;
  gap: 240px;
  background-color: rgba(255, 255, 255, 0.25);
  align-items: center;
  margin-bottom: 16px;
  height: 106px;
}

.logo-container {
  display: flex;
  margin-left: 99px;
}

.nav-container {
  display: flex;
  gap: 40px;
  margin-top: 18px;
}

.link {
  color: black;
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.link:hover {
  color: var(--color-primary-blue);
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.soc-container {
  display: flex;
  gap: 32px;
}

/* title-inf */

.title-inf {
  margin-left: 244px;
}

h1 {
  color: var(--color-primary-blue);
  font-family: Play;
  font-size: 140px;
  font-style: normal;
  font-weight: 700;
  line-height: 114px; /* 81.429% */
  text-transform: capitalize;
  margin-bottom: 40px;
}

.button {
  color: #ffffff;
  border-radius: 32px;
  background-color: var(--color-primary-blue);
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 14px;
  border: 2px solid #2b7fff;
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.button:hover {
  padding: 16px 32px;
  gap: 10px;
  border-radius: 32px;
  border: 2px solid #2b7fff;
  cursor: pointer;
  color: #011c44;
  background-color: #fff;
}

/* main info */
h2 {
  font-family: Play;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 .accent {
  color: var(--color-primary-blue);
  text-transform: capitalize;
}

.main-inf {
  display: flex;
  gap: 28px;
  margin-left: 100px;
  justify-content: center;
}

.main-text {
  padding: 40px;
  width: 700px;
  display: block;
}

.main-foto {
  position: relative;
  margin-left: 30px;
}
.main-foto2 {
  margin-left: 200px;
  margin-bottom: 200px;
}
.grad2 {
  position: relative;
}
.grad2 img {
  position: absolute;
  z-index: -1;
  top: -190px;
}

.star2 {
  position: absolute;
  left: 1350px;
  top: 600px;
  animation-name: spin-star;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin-star {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.star1 {
  position: absolute;
  left: 1000px;
  top: 900px;
  animation-name: spin-star;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.star3 {
  position: absolute;
  left: 1340px;
  top: 840px;
  animation-name: spin-star;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* our */

.our2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 96px;
}
.our-cards {
  margin-left: 16px;
  margin-right: 16px;
}

.arr-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  stroke: black;
  fill: #ffffff;
  text-decoration: none;
}

.arr-button:hover .arr-arrow {
  fill: var(--color-primary-blue);
  stroke: #ffffff;
  transition: fill 0.3s ease;
}

/* .contacts2 {
  background-color: var(--color-primary-dblue);
  border-radius: 20px;
  margin-left: 32px;
  width: 420px;
  height: 480px;
  text-align: center;
} */

/* chony ludy */

.card-cont {
  display: flex;
  gap: 56px;
  justify-content: center;
}

.cards {
  display: flex;
  height: 130px;
  padding: 24px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background-color: #fff;
  /* background-color: #b43c3c; */
  width: 250px;
  flex-direction: column;
  margin-bottom: 96px;
}
.text-inf2 {
  text-align: center;
}

h3 {
  color: var(--color-primary-dblue, #011c44);
  text-align: center;
  font-family: Play;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}

h3 .hero-h3 {
  color: var(--color-primary-blue, #2b7fff);
}

.text-inf2 {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}

/* Find */

.contacts1 {
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  margin-bottom: 94px;
  gap: 32px;
}

.map {
  border-radius: 20px;
  border: none;
  height: 480px;
}

.text-cont {
  color: #ffffff;
}
.modal2 {
  width: 100%;
  height: 100%;
  max-width: 420px;
  max-height: 480px;
  background-color: var(--color-primary-dblue);
  background-image: url(/images/bkgmodal.png);
  border-radius: 48px;
  padding: 24px 36px;
  position: relative;
}

/* footer */

footer {
  background-color: #011c44;
  background-image: url(../images/bfooter.png);
  background-repeat: no-repeat;
}
.bfooter {
  position: relative;
}
.bfooter img {
  position: absolute;
  scale: 0.8;
  color: var(--color-primary-dblue);
}

.img-photo {
  position: absolute;
  left: 1093px;
  top: 64px;
}

.container {
  display: inline-flex;
  align-items: flex-start;
  gap: 186px;
  margin: 56px 100px 56px 100px;
  position: relative;
  line-height: 26px;
}

.socpac {
  margin-left: 40px;
}

.text-inf {
  color: var(--color-primary-dblue);
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 172.727% */
}

.text-inf .beautyzone {
  color: var(--color-primary-dblue, #011c44);
  font-weight: 600;
}

.link2 {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.copy {
  color: #747272;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

/* form */

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(1, 31, 74, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s, visibility 0.5s;
}

.modal {
  width: 100%;
  height: 100%;
  max-width: 720px;
  max-height: 500px;
  background-color: var(--color-primary-dblue);
  background-image: url(/images/bkgmodal.png);
  border-radius: 48px;
  padding: 100px 42px;
  position: relative;
}

.modal-btn-close {
  position: absolute;
  top: 30px;
  right: 30px;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.zag {
  color: #fff;
  text-align: center;
  font-family: 'Play';
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 25px;
  margin-top: -50px;
}
.opus {
  color: #fff;
  text-align: center;
  font-family: 'Roboto';
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.bez {
  color: var(--color-primary-blue);
  font-family: 'Roboto';
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Form */

.form-field {
  display: block;
  max-width: 310px;
  max-height: 320px;
  margin: 24px auto;
}
.form-label {
  display: block;
}

.form-input {
  display: block;
  width: 100%;
  padding: 18px 32px;
  border-radius: 32px;
  border: 2px solid var(--color-secondary-gr2);
  background-color: transparent;
  color: var(--color-primary-white);
}

.form-input:focus {
  border-color: var(--color-primary-white);
  outline: none;
  color: var(--color-primary-white);
}

.form-input::placeholder {
  font-size: 13px;
  line-height: normal;
  color: var(--color-primary-white);
  padding-left: 32px;
  width: 310px;
  height: 52px;
}

.form-input:focus::placeholder {
  font-size: 13px;
}

.form-terms {
  color: var(--color-secondary-gr2);
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.form-terms-link {
  color: var(--color-secondary-gr2);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
}

.form-button {
  margin: 0 auto;
  display: block;
}
