body {
  color: var(--color-primary-dblue);
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 1.5;
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 p {
  margin-top: 0;
}

img {
  display: block;
  // max-width: 100%;
  height: auto;
  object-fit: cover;
}

ul {
  list-style-type: none;
  margin-top: 0px;
}

a {
  display: inline-block;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

h1 {
  color: var(--color-primary-blue);
  font-family: Play;
  font-size: 140px;
  font-style: normal;
  font-weight: 700;
  line-height: 114px; /* 81.429% */
  text-transform: capitalize;
  margin-bottom: 40px;
}

h2 {
  font-family: Play;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  color: var(--color-primary-dblue, #011c44);
  text-align: center;
  font-family: Play;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}

h3 .hero-h3 {
  color: var(--color-primary-blue, #2b7fff);
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.containers {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
