@import './base';

@import './utils/fonts';
@import './utils/keyframes';
@import './utils/texts';
@import './utils/variables';

@import './layouts/stars';
@import './layouts/cards';
@import './layouts/contacts-form';
@import './layouts/backdrop';
@import './layouts/footer';
@import './layouts/header-section';
@import './layouts/mains';
@import './layouts/what';
@import './layouts/mobile-menu';
@import './layouts/formats-section';

@import './components/nav';
@import './components/buttons';

@import './components/forms';
@import './components/head-container';
@import './components/fotos';
@import './components/logo';
@import './components/format-card';
@import './components/pagination';
