:root {
  --color-primary-white: #ffffff;
  --color-primary-blue: #2b7fff;
  --color-primary-dblue: #011c44;
  --color-secondary-gr1: #4a4a4a;
  --color-secondary-gr2: #747272;
  --color-secondary-lblue: #011f4a;
  --color-secondary-yelow: #ffd02b;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
