.main-fot {
  @media screen and (max-width: $bp-desktop) {
    display: none;
  }
  &__main-foto {
    margin-left: 10px;
  }

  &__main-foto2 {
    margin-left: 180px;
    margin-bottom: 200px;
  }
}
