.head-container {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 0px 0px;
  width: 100%;

  @media screen and (min-width: $bp-desktop) {
    display: flex;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.25);
    align-items: center;
    height: 106px;
    width: 100%;
    gap: 200px;
  }

  &__social {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      padding-right: 60px;
      display: flex;
      gap: 16px;
    }
  }
  &__social1 {
    &:hover {
      fill: blue;
    }
  }

  &__burger {
    background: transparent;
    padding: 0px;
    border: none;
    height: 24px;
    width: 24px;
    fill: var(#ffffff);
    margin: 12px;
    @media screen and (min-width: $bp-tablet) {
      display: none;
    }
  }
}
