.pagination {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;

  &__button {
    width: 11px;
    height: 11px;
    background-color: #747272;
    border-radius: 50%;
    padding: 0;

    &--active {
      background-color: #2b7fff;
    }
  }
}
