.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(1, 31, 74, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s, visibility 0.5s;
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 100%;
  height: 100%;
  max-width: 720px;
  max-height: 600px;
  background-color: var(--color-primary-dblue);
  background-image: url(/images/bkgmodal.png);
  border-radius: 48px;
  position: relative;

  &__button {
    background: transparent;
    border: none;
    &:hover {
      fill: black;
      cursor: pointer;
    }
  }
}

.modal-btn-close {
  position: absolute;
  top: 30px;
  right: 30px;
}

.zag {
  color: #fff;
  text-align: center;
  font-family: 'Play';
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 auto;
}
