.card-cont {
  display: flex;
  gap: 56px;
  justify-content: center;

  @media screen and (max-width: $bp-tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  &__cards {
    display: flex;
    height: 130px;
    padding: 24px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    background-color: #fff;
    width: 250px;
    flex-direction: column;
    margin-bottom: 96px;
  }
}
