.card-cont {
  display: flex;
  gap: 56px;
  justify-content: center;

  @media screen and (max-width: $bp-tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  &__cards {
    display: flex;
    height: 130px;
    padding: 24px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    background-color: #fff;
    width: 250px;
    flex-direction: column;
    margin-bottom: 96px;
    @media screen and (max-width: $bp-tablet) {
      border-radius: 32px;
      box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
      width: 316px;
      height: 180px;
    }
  }
}
