footer {
  background-color: #011c44;
  background-image: url(../images/bfooter.png);
  background-repeat: no-repeat;
}

.container {
  display: inline-flex;
  align-items: flex-start;
  gap: 186px;
  margin: 56px 100px 56px 100px;
  position: relative;
  line-height: 26px;
  &__link2 {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  &__socpac {
    margin-left: 40px;
  }
  &__copy {
    color: #747272;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
}
