.footer {
  margin-top: -85px;
  padding-top: 20px;
  text-align: center;
  background-color: #011c44;
  background-image: url(../images/bfooter.png);
  background-repeat: no-repeat;

  @media screen and (min-width: $bp-desktop) {
    padding-top: 0px;
    margin-top: 94px;
    text-align: left;
  }

  &__bfooter {
    position: absolute;
    scale: 0.8;
    color: var(--color-primary-dblue);

    @media screen and (max-width: $bp-desktop) {
      display: none;
    }
  }
  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @media screen and (min-width: $bp-tablet) {
      display: inline-flex;
      align-items: flex-start;
      gap: 100px;
      margin: 56px 0px 0px 100px;
      position: relative;
      line-height: 26px;
      flex-direction: row;
    }
    @media screen and (min-width: $bp-desktop) {
      gap: 186px;
    }

    &-contrs {
      display: none;
      @media screen and (min-width: $bp-desktop) {
        display: block;
      }
    }

    &-link2 {
      color: #ffffff;
      font-family: 'Roboto';
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: none;
      &:hover {
        color: var(--color-primary-blue);
        font-family: 'Roboto';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    &-socpac {
      display: flex;
      &__socsety {
        fill: #ffffff;
        &:hover {
          fill: blue;
        }
      }
      @media screen and (min-width: $bp-desktop) {
        margin-left: 40px;
      }
    }
    &-copy {
      color: #747272;
      font-family: Roboto;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: none;
      display: flex;
      justify-content: center;

      @media screen and (min-width: $bp-tablet) {
      }
    }
    &-img-photo {
      display: none;

      @media screen and (min-width: $bp-desktop) {
        display: block;
      }
    }
  }
}

.who ul {
  padding: 0px;
}
