.header-container {
  background-image: url(../images/mainfon.png);
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: top right;

  @media screen and (min-width: $bp-desktop) {
    height: 657px;
    object-fit: cover;
    background-image: linear-gradient(
        89deg,
        #fff 30.62%,
        rgba(255, 255, 255, 0.85) 41.31%,
        rgba(255, 255, 255, 0.19) 58.65%,
        rgba(255, 255, 255, 0) 72.78%
      ),
      url(../images/mainfon.png);
  }

  &__header-section {
    &__cosmet {
      display: flex;
      justify-content: center;
      @media screen and (min-width: $bp-tablet) {
        display: block;
      }
    }

    &-hh1 {
      display: block;

      @media screen and (max-width: $bp-tablet) {
        display: flex;
        justify-content: center;
        font-size: 54px;
        font-weight: 700;
        line-height: 46px; /* 85.185% */
        text-transform: capitalize;
      }
    }
    &__title-inf {
      margin-left: 244px;
      @media screen and (max-width: $bp-tablet) {
        margin: auto;
      }
    }
  }
}
