.main-inf {
  display: flex;
  gap: 28px;
  margin-left: 100px;
  justify-content: center;

  &__main-text {
    padding-top: 40px;
    display: block;
  }
}

.grad2 {
  position: relative;
}
.grad2 img {
  display: flex;
  max-width: 100%;
  @media screen and (min-width: $bp-desktop) {
    position: absolute;
    z-index: -1;
    top: -190px;
  }
}
