.our2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 96px;

  &__our-cards {
    margin-left: 32px;
    margin-right: 32px;
    display: block;
    gap: 16px;
  }
  // &__img {
  //   position: absolute;
  //   flex-direction: ;
  // }
}

.swipes {
  overflow: hidden;
}
