.our2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 96px;
  flex-shrink: 2;

  &__img {
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
  }
  &__container {
    overflow: hidden;
  }
}
